#Header {
  height: 100px;
  display: flex;
  align-items: center;
  background: url("https://a001.wzu.edu.tw/assets/page/images/bg.jpg") top
    center no-repeat;
  //   box-shadow: 0px 2px 10px rgb(214, 214, 214);

  .headerContainer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1440px;

    @include rwd($lg) {
      justify-content: center;
    }
  }

  .fa-bars {
    display: none;

    @include rwd($lg) {
      display: block;
      position: absolute;
      left: 0;
      font-size: 20px;
      color: $colorPrimary;
    }
  }

  .identifyBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7px;

    input {
      outline: none;
      // margin-bottom: 1rem;
      height: 38px;
      text-align: center;
      width: 150px;
      border: 1px solid #dddddd;
      border-radius: 4px;
      margin: 0;
      padding: 0;
      margin-top: -5px;
    }
  }

  .btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include rwd($lg) {
      position: absolute;
      right: 0;
    }

    i {
      font-size: 24px;
      transition: 0.3s;
      color: lighten($color: $colorPrimary, $amount: 10);

      &.loginIcon {
        // color: lighten($color: $colorPrimary, $amount: 20);
      }
    }

    &:hover {
      i {
        // color: lighten($color: $colorPrimary, $amount: 20);
      }

      i.loginIcon {
        // color: lighten($color: $colorPrimary, $amount: 50);
      }
    }
  }

  .loginBox {
    cursor: pointer;
    font-size: 14px;
    color: $colorPrimary;
  }

  .logoutBox {
    font-size: 14px;
    color: $colorPrimary;
    cursor: pointer;

    &:hover {
      // background: #cccccc;
    }
  }

  .userName {
    color: $colorPrimary;
    margin-left: 0.5rem;
  }

  .loginDialog {
    border-radius: 10px;
  }

  .loginBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  .loginInput {
    width: 250px;
    margin-left: 1rem;
  }

  .changeCode {
    font-size: 13px;
    color: red;
  }

  .bsBtn:hover {
    background: #cccccc;
    // padding: 2px;
  }
}
