button {
  font-family: "PingFang TC", "LiHei Pro", "Microsoft JhengHei", "微軟正黑體",
    "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, Arial,
    sans-serif;
}

.el-button--primary,
.el-button--primary:focus {
  color: #fff;
  background-color: $colorPrimary;
  border-color: $colorPrimary;
  transition: 0.3s;

  &:hover {
    background-color: lighten($color: $colorPrimary, $amount: 12);
    border-color: lighten($color: $colorPrimary, $amount: 12);
  }
}

.el-button--info,
.el-button--info:focus {
  color: rgb(124, 124, 124);
  background-color: #fff;
  border-color: rgb(124, 124, 124);
  transition: 0.3s;

  &:hover {
    background-color: $colorInfo;
    border-color: $colorInfo;
    background-color: rgb(82, 82, 82);
  }
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus,
.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  border-color: $colorPrimary;
}

.el-notification__closeBtn {
  display: none;
}

.tableHeader {
  background-color: lighten($color: $colorPrimary, $amount: 68) !important;
}

.el-dialog__wrapper {
  z-index: 10 !important;
}

.v-modal {
  z-index: 9 !important;
}

.vld-overlay.is-full-page {
  z-index: 999;
}

.swal2-cancel {
  order: -1;
}
// safari 相容
input {
  line-height: normal;
}

javascript .el-table__body {
  width: 100%;
}

.ql-toolbar {
  pointer-events: none;
  opacity: 0;
  height: 0;
  padding-top: 15px !important;
}

.ql-container {
  border-top: 1px solid #ccc !important;
  pointer-events: none;
}

.quillWrapper {
  width: 100%;
}

.el-icon-circle-close {
  color: #eb0600 !important;
  text-shadow: 0 0 1px #eb0600;
}
