#Calendar2 {
  .filterBox {
    box-sizing: border-box;
    border-radius: 4px;
    width: calc(100% - 40px);
    background: #dfdfdf;
    margin: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    @include rwd($lg) {
      height: calc(100vh - 100px);
      position: absolute;
      z-index: 2;
      top: 0;
      margin-top: 100px;
      width: 375px;
      align-items: flex-start;
      flex-direction: column;
      box-shadow: 5px 5px 5px #888888;
      transition: 0.3s;
      transform: translateX(-390px);
      margin-left: 0px;
    }

    &.showMenu {
      transform: translateX(0);
    }
    // 整包標籤
    &__tag {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include rwd($lg) {
        flex-direction: column;
        margin: 8px;
      }
      // 個別標籤
      label {
        margin-right: 8px;
        color: #ffffff;

        // 個別標籤樣式
        @include rwd($lg) {
          margin: 8px;
          width: 200px;
        }

        // 第一個標籤樣式
        &:first-child {
          margin-left: 8px;
          @include rwd($lg) {
            margin: 0;
          }
        }

        // 最後一個標籤樣式
        &:last-child {
          margin-right: 0;
          @include rwd($lg) {
            margin-left: 0;
          }
        }

        // 隱藏勾
        .typeCheckBox {
          display: none;
        }

        .checkedType {
          border-radius: 4px;
          padding: 8px 16px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          @include rwd($xl) {
            justify-content: flex-start;
            font-size: 14px;
          }

          // 點擊type 樣式改變
          &.isNotActive {
            color: #484848;
            transition: 0.5s;
            background: #b1b1b1 !important;
            border: 1px solid #cccccc;

            .cross {
              display: none;
              font-size: 14px;
              margin-left: 0.5rem;
              color: rgba(255, 255, 255, 0.6);
              transition: 0.5s;
            }
          }
          .cross {
            margin-left: 0.5rem;
            display: block;
          }
        }
      }
    }

    &__type {
      margin-left: auto;
      display: flex;
      align-items: center;

      &--unit {
        padding: 0 8px;
      }

      &--local {
        padding: 0 8px;
      }

      &--keyword {
        padding: 0 8px;
        display: flex;
        align-items: center;
        ::placeholder {
          color: #c0ae68;
        }
        button {
          margin-left: 4px;
        }
      }
    }
  }

  #fullCalendar {
    height: 90vh;
    margin: 1rem auto 3rem auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    .fc-toolbar {
      .fc-left {
        div > button {
          background: #c0ae68;
          border: #c0ae68;
        }
        .fc-today-button {
          background: #484848;
        }
        .fc-button:disabled {
          opacity: 1;
        }
      }

      .fc-center {
        h2 {
          color: #c0ae68;
          font-family: Roboto;
          font-weight: 500;
          font-size: 28px;
        }
      }

      .fc-right {
        .fc-button-group {
          button {
            color: #b1b1b1;
            border: 1px solid #b1b1b1;
          }
          .fc-dayGridMonth-button {
            background-color: #e5e5e5;
          }
          .fc-timeGridWeek-button {
            background-color: #e5e5e5;
          }
          .fc-timeGridDay-button {
            background-color: #e5e5e5;
          }

          .fc-button-active {
            background-color: #484848;
            color: #ffffff;
          }
        }
      }
    }

    .fc-event {
      border: 1px solid transparent;
      cursor: pointer;
    }
    .isNotAllday {
      // background-color: inherit !important;
      padding: 0;
      border: 0px solid #fff !important;
      // opacity: 0.5;

      .fc-content {
        background-color: #fff;
      }

      &.fc-time-grid-event {
        // background-color: inherit !important;
        border: 1px solid transparent !important;

        .fc-time {
          margin-left: 0rem;
          font-weight: 700;
          color: #fff;
        }

        .fc-content {
          background-color: inherit;
        }

        .fc-title {
          color: #fff;
          margin-left: 0rem;
        }

        &::before {
          content: "";
          width: 0px;
          height: 0px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 4.5px;
        left: 4px;
        width: 10px;
        height: 10px;
        background: inherit;
        border-radius: 50%;
        z-index: 999999;
      }

      .fc-time {
        // order: -1;
        margin-left: 1rem;
        font-weight: 700;
        color: #000;
      }

      .fc-title {
        color: #000;
      }

      &.fc-not-start {
        &::before {
          content: "";
          position: absolute;
          top: 4.5px;
          left: 4px;
          width: 0px;
          height: 0px;
          background: $colorPrimary;
          border-radius: 50%;
          z-index: 999999;
        }
      }
    }
  }

  .exportDialog {
    .el-dialog {
      &__body {
        .daterange {
          margin-top: 16px;
          width: 100%;
          &__date {
            width: 100%;
          }
        }
      }
      &__footer {
        .dialog-footer {
          .el-button--primary {
            background: #c0ae68;
            color: #ffffff;
            a {
              background: #c0ae68;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .el-dialog__title {
    color: #000000;
    font-weight: 700;
  }
  .dialog {
    margin-top: 40px;
    font-family: "Heiti TC Light", "Microsoft JhengHei", "微軟正黑體",
      "Microsoft Sans Serif", "Helvetica", "Times New Roman", "Myriad", Arial;
    color: #000000;
    h4 {
      border-bottom: 1px solid #e7e7e7;
      padding: 0 0 10px 0;
      margin: 20px 0 20px 0;
      font-size: 18px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      word-wrap: break-word;
      word-break: normal;
      text-align: justify;
    }
  }

  //   .item {
  //     float: right;
  //     margin-bottom: 40px;
  //     .share-button {
  //       display: flex;
  //       justify-content: end;
  //       font-size: 40px;
  //       border: 0px;
  //     }
  //   }

  .share {
    float: right;
    margin-bottom: 8px;
    margin-right: 8px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
