.detailPage {
  padding: 8px;
  line-height: 28px;
  margin-bottom: 8px;
  h4 {
    font-size: 18px;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 10px 0;
    margin: 20px 0 20px 0;
  }

  .share {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      font-size: 36px;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
